/* https://ant.design/components/page-header/ */

.Section {
  margin: 30px 0;
}

.Section:last-child {
  margin-bottom: 80px;
}

.wrap {
  display: flex;
}

.content {
  flex: 1;
}

.extraContent {
  min-width: 240px;
  text-align: right;
}

.contentLink {
  padding-top: 16px;
}

.contentLink a {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 32px;
}

.contentLink a img {
  margin-right: 8px;
}

.SectionEmpty-icon {
  width: 2rem;
}

.SectionEmpty-logo {
  width: 18rem;
}
